<div class="bg-blue-500 text-white flex-direction-row justify-betweenp-4">
    <h1 class="text-2xl font-bold">{{ ux_icon("tabler:home") }}</h1>
    <ul>
        <li>
            <a href="{{ path('global') }}">home{{ ux_icon("tabler:home") }}</a>
        </li>
        <li>
            <a href="{{ path('about') }}">{{
                ux_icon("tabler:alert-square-rounded-filled")
            }}</a>
        </li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</div>
