<div class="bg-teal-900 p-5 flex gap-10 items-center">
    <h1 class="text-xl font-bold mb-4 text-white">
        {{ ux_icon("tabler:home") }}
    </h1>
    <ul class="list-none flex gap-4 text-white">
        <li class="flex items-center gap-2">
            <a href="{{ path('accueil') }}">home{{ ux_icon("tabler:home") }}</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('apropos') }}">{{
                ux_icon("tabler:alert-square-rounded-filled")
            }}</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('contact') }}">Contact</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('app_soiree_index') }}">soirées</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('app_soiree_new') }}">nouvelles soirées</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('app_artist_index') }}">artistes</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('app_theme_index') }}">themes</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('app_materiel_soiree_index') }}"
                >matériels soirées</a
            >
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('app_materiel_index') }}">matériels</a>
        </li>
        <li class="flex ml-190 items-center gap-2">
            <a href="{{ path('app_login') }}">connexion</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('app_register') }}">nouvel utilisateur</a>
        </li>
        <li class="flex items-center gap-2">
            <a href="{{ path('app_logout') }}">déconnexion</a>
        </li>
    </ul>
    </ul>
</div>
